* {
	font-family: 'Product Sans', 'Source Sans Pro', 'Verdana', 'Arial', 'sans-serif';
}

body, html {
	background: #aaa;
	margin: 0;
	padding: 0;
}

ul, h1 {
	text-align: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1 {
	color: #212121;
}

ul {
	display: block;
}

li {
	display: inline-block;
	font-size: 1.2em;
	margin-right: 5px;
}

.front {
	font-weight: 600;
}

hr {
	border: 0;
	border-top: 1px solid black;
	opacity: .4;
	margin: 0;
}

main {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}

input {
	width: 23rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	padding: 0;
	border: 0;
	height: 25px;
	background: #aaa;
	color: #212121
}

a:link {
	text-decoration: none;
	transition: 0.5s;
	color: #212121;
}

a:visited {
	color: #212121;
	transition: 0.5s;
}

a:hover {
	color: #007457;
}